/**{
	margin: 0;
	padding: 0;

}

body{
	background-image: linear-gradient(to right, skyblue, orchid);
}*/

.section{
	height: 70vh;
}

.body1{
	display: inline-block;
	float: left;
	width: 50%;
	margin: 20px;
	padding: 40px;
	padding-inline:100px ;
}







.body1-heading{
     font-size: 60px;
     margin-bottom: 50px;
     letter-spacing: 5px;
     font-style: oblique;
}

.para-inside-body1{
	font-size: 22px;
	padding-bottom: 12px;
	color: #000080;
}






.body2{
	display: inline-block;
	float: right;
	width: 40%;
	padding-top: 40px;

}

.body2-img{
	width: 80%;
	
	border: 1px solid #ddd;
  border-radius: 20px 100px ;
  width: 80%;
}

.body2-img:hover{
	transform: rotateZ(-9deg);
	

	box-shadow: 44px;
}