.sec2{
	height: fit-content;
}

.sec2-heading{
	text-align: center;
	font-size: 56px;
	font-style: oblique;
	margin-top: 40px;
	letter-spacing: 4px;
}

.sec2-span{
	display: inline-block;
	border:4px solid white;
	border-radius: 15px 100px;
	width: 25%;
	height: 500px;
	margin-inline: 55px;
	background-color: white;
	margin-top: 100px;
	margin-buttom: 100px;

}

.sec2-span:hover{
	transform: rotateZ(5deg);
}

.sec2-span-img{
	width: 300px;
	height: 270px;
	margin: 30px;
	border-radius:20px 100px 20px 20px;
	perspective: 1000px

}



.sec2-span-div-desc{
	text-align: center;
	padding: 20px;
	margin-inline: 44px;
}

.sec2-span-div-description{
	padding-top: 16px;
	font-size: 18px;
}

.sec2-span-img:hover{
	transform: rotateY(180deg);
}



.flip-box-in{
	transition: transform 0.8s;
  transform-style: preserve-3d;
    position: relative;
 
}

.sec2-span-img{
	transition: transform 0.8s;
  transform-style: preserve-3d;
    position: relative;
 
}


.flip-box:hover .flip-box-in {
  transform: rotateY(180deg);
}